{{#partial 'head'}}
  <link rel="stylesheet" href="{{ assets_url 'customer/unsub-feedback/index.min.css' }}" />
{{/partial}}

{{#partial 'script'}}
  <script src="{{ assets_url 'customer/unsub-feedback/index.min.js' }}"></script>
{{/partial}}

{{ assign 'name' request.uri.query.name }}
{{ assign 'logo' request.uri.query.logo }}

<div class="unsubscribeFeedback">
  <div class="unsubscribeFeedbackBody">
    {{#if logo}}
    <div class="logo">
      <img src={{logo}} alt="" />
    </div>
    {{/if}}
    <div class="title">
      {{{ t 'userCenter.unsubscribeFeedback.title' name=name }}}
    </div>
    <div class="text">
      {{t 'userCenter.unsubscribeFeedback.text'}}
    </div>
  </div>
</div>