<!DOCTYPE html>
<html lang="{{ storeInfo.languageSetting.storeLanguage }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="x-dns-prefetch-control" content="on">

  {{ snippet 'theme-css-var' }}

  {{!-- 这段snippet 必须在所有插槽之前 --}}
  {{ snippet 'page-snippet' }}
  {{#slot 'seo-meta'}}
    {{ snippet 'seo-meta' }}
  {{/slot}}
  {{#slot 'title'}}
    {{ assign 'seoTitle' (useFallbackLang pageInfo.seoTitle request.locale) }}
    {{#if seoTitle}}
      <title>{{ seoTitle }}</title>
    {{else}}
      <title>{{ storeInfo.name }}</title>
    {{/if}}
  {{/slot}}
  {{#if theme.settings.favicon_image}}
    <link rel="shortcut icon" href="{{ theme.settings.favicon_image }}" type="image/png">
  {{/if}}
  {{#slot 'before_head'}}{{/slot}}
  {{#is_modern_browser}}
    <link rel="stylesheet" href="{{ assets_url 'vendor/prepare.min.modern.css' }}" />
    <link rel="stylesheet" href="{{ assets_url 'vendor/global.min.modern.css' }}" />
  {{else}}
    <link rel="stylesheet" href="{{ assets_url 'vendor/prepare.min.css' }}" />
    <link rel="stylesheet" href="{{ assets_url 'vendor/global.min.css' }}" />
  {{/is_modern_browser}}
  {{ preload_state 'imgNoReferrerSwitch' }}

  {{ content_for_header }}

  <link rel="dns-prefetch" href="https://cdn.myshopline.com">
  <link rel="preconnect" href="https://cdn.myshopline.com">
  <link rel="dns-prefetch" href="https://img.myshopline.com">
  <link rel="preconnect" href="https://img.myshopline.com">
  <link rel="dns-prefetch" href="https://img-va.myshopline.com">
  <link rel="preconnect" href="https://img-va.myshopline.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  {{#is_modern_browser}}
    <script src="{{ assets_url 'commons/base/script-load.min.modern.js' }}" ></script>
    <script src="{{ assets_url 'commons/pre-script.min.modern.js' }}" ></script>
  {{else}}
    <script src="{{ assets_url 'commons/base/script-load.min.js' }}" ></script>
    <script src="{{ assets_url 'commons/pre-script.min.js' }}" ></script>
  {{/is_modern_browser}}
  
<script>
  {{#is_modern_browser}}
    window.__loaded_js__.set('{{ assets_url 'vendor/global.min.modern.js' }}')
  {{else}}
    window.__loaded_js__.set('{{ assets_url 'vendor/global.min.js' }}')
  {{/is_modern_browser}}
</script>
  

  {{#slot 'head'}}{{/slot}}

  {{ preload_state 'storeInfo' 'tradeSettleConfig' 'tradeCollectionConfig' }}
  {{ preload_state 'currencyCode' }}
  {{ preload_state 'currencyRates' }}
  {{ preload_state 'request' }}
  {{ preload_state 'theme.settings.cart_open_type' 'theme.settings.superscript_decimals' }}
  {{ preload_state 'cartInfo' 'payChannelInfo' }}
  {{ preload_state 'fastCheckout' }}
</head>

<body class="template--le template__{{ replace template '/' '-' }}"
  data-button_style="radius"
  data-type_title_uppercase="{{ theme.settings.type_title_uppercase }}"
  data-type_navigation_uppercase="{{ theme.settings.type_navigation_uppercase }}"
  >
  <div id="google_translate_element"></div>
  {{#slot 'user_head'}}{{/slot}}
  {{ section 'announcement-bar' }}
  {{ section 'header' }}
  {{ content_for_layout }}
  {{ section 'footer' }}
  {{ preload_state 'template' }}
  {{ preload_state 'templateAlias' }}
  {{!-- mini购物车上报专用 --}}
  {{ preload_state 'variants' }}

  <script>
    window.__I18N__ = window.__I18N__ || {};
    window.__I18N__['cart'] = {{{ JSONstringify (t 'cart') }}};
    window.__I18N__['customer'] = {{{ JSONstringify (t 'customer') }}};
    window.__I18N__['ec'] = {{{ JSONstringify (t 'ec') }}};
    window.__I18N__['products'] = {{{ JSONstringify (t 'products') }}};
    window.__I18N__['transaction'] = {{{ JSONstringify (t 'transaction') }}};
    window.__I18N__['sales'] = {{{ JSONstringify (t 'sales') }}};
    window.__I18N__['general'] = {{{ JSONstringify (t 'general') }}};
    window.__I18N__['blog'] = {{{ JSONstringify (t 'blog') }}};
    window.__I18N__['unvisiable'] = {{{ JSONstringify (t 'unvisiable') }}};
    
  </script>
  {{#if storeInfo.languageSetting.enableSelector}}
    {{ snippet 'gte' }}
  {{/if}}


  {{ preload_state 'currencyConfig.referenceCurrencies' 'currencyConfig.currencyDetailList' }}
  {{#is_modern_browser}}
    <script src="{{ assets_url 'vendor/prepare.min.modern.js' }}"></script>
  {{else}}
    <script src="{{ assets_url 'vendor/prepare.min.js' }}"></script>
  {{/is_modern_browser}}
  {{#slot 'script'}}{{/slot}}
  {{#slot 'page_view'}}{{/slot}}
  {{!-- 自定义代码底部 --}}
  {{ content_for_footer }}
  <div data-ssr-plugin-body-bottom></div>

</body>

</html>
